/*Reset*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgba(246,248,249,255);
}

ul {
    list-style-type: none;
}

/*Header styles*/
header {
    background-color: white;
    height: 70px;
    padding-left: 20px;
    padding-top: 10px;
    margin-bottom: 40px;
}

/*Main styles*/
main {
    width: 70%;
    margin: 0 auto;
    background-color: white;
    border-radius: 10px;
}

main section {
    padding: 0 50px;
}

section#buttons {
    padding-top: 12px;
    padding-bottom: 9px;
    border-bottom: 2px solid rgba(246,248,249,255);
}

button {
    padding: 8px 10px;
    border-radius: 5px;
    border: 1px solid rgba(216,221,224,255);
    background-color: white;
}

.task-button {
    background-color: rgba(20,170,245,255);
}

section#tasks {
    padding-top: 30px;
    padding-bottom: 40px;
}

section#tasks h3::before {
    content: "\25be";
    margin-right: 5px;
    font-size: 16px;
    display: inline-block;
}